/* helping adds*/

.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}


.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.jfix-after:after{content: '';display: inline-block;width: 100%;height: 0;overflow: hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}
.vfix-before:before{content: '';height: 100%;width: 0;display: inline-block;vertical-align: middle;}

.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/

/* ctext */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* /ctext */

/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}

html{height:100%;}
body{min-height:100%;width:100%;min-width:320px;font-family: 'TT Norms' , arial,sans-serif;background:#fff;color:#3d3d3d;position:relative;font-size: 16px;line-height: 1; overflow-x: hidden;}

img{vertical-align:bottom;border:0;max-width:100%;}

/* /base styles */

/* wraps styling*/

.mbox{max-width:1150px;width:100%; padding: 0 15px; margin:0 auto; position:relative; z-index:1;}
/* /wraps styling*/

input, textarea{
    &::-webkit-input-placeholder {color: inherit;}
    &:-moz-placeholder {color: inherit;opacity:1;}
    &::-moz-placeholder {color: inherit;opacity:1;}
    &:-ms-input-placeholder {color: inherit;}
}

/*End Layout*/

/*fonts*/

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-ExtraBoldItalic.eot');
    src: local('../fonts/TT Norms ExtraBold Italic'), local('../fonts/TTNorms-ExtraBoldItalic'),
        url('../fonts/TTNorms-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/TTNorms-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Bold.eot');
    src: local('../fonts/TT Norms Bold'), local('../fonts/TTNorms-Bold'),
        url('../fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Bold.woff') format('woff'),
        url('../fonts/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Thin.eot');
    src: local('../fonts/TT Norms Thin'), local('../fonts/TTNorms-Thin'),
        url('../fonts/TTNorms-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Thin.woff') format('woff'),
        url('../fonts/TTNorms-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Regular.eot');
    src: local('../fonts/TT Norms Regular'), local('../fonts/TTNorms-Regular'),
        url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Regular.woff') format('woff'),
        url('../fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-ThinItalic.eot');
    src: local('../fonts/TT Norms Thin Italic'), local('../fonts/TTNorms-ThinItalic'),
        url('../fonts/TTNorms-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-ThinItalic.woff') format('woff'),
        url('../fonts/TTNorms-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Italic.eot');
    src: local('../fonts/TT Norms Italic'), local('../fonts/TTNorms-Italic'),
        url('../fonts/TTNorms-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Italic.woff') format('woff'),
        url('../fonts/TTNorms-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Heavy.eot');
    src: local('../fonts/TT Norms Heavy'), local('../fonts/TTNorms-Heavy'),
        url('../fonts/TTNorms-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Heavy.woff') format('woff'),
        url('../fonts/TTNorms-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Light.eot');
    src: local('../fonts/TT Norms Light'), local('../fonts/TTNorms-Light'),
        url('../fonts/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Light.woff') format('woff'),
        url('../fonts/TTNorms-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-BlackItalic.eot');
    src: local('../fonts/TT Norms Black Italic'), local('../fonts/TTNorms-BlackItalic'),
        url('../fonts/TTNorms-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-BlackItalic.woff') format('woff'),
        url('../fonts/TTNorms-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-ExtraLight.eot');
    src: local('../fonts/TT Norms ExtraLight'), local('../fonts/TTNorms-ExtraLight'),
        url('../fonts/TTNorms-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-ExtraLight.woff') format('woff'),
        url('../fonts/TTNorms-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-LightItalic.eot');
    src: local('../fonts/TT Norms Light Italic'), local('../fonts/TTNorms-LightItalic'),
        url('../fonts/TTNorms-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-LightItalic.woff') format('woff'),
        url('../fonts/TTNorms-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-ExtraLightItalic.eot');
    src: local('../fonts/TT Norms ExtraLight Italic'), local('../fonts/TTNorms-ExtraLightItalic'),
        url('../fonts/TTNorms-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-ExtraLightItalic.woff') format('woff'),
        url('../fonts/TTNorms-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-BoldItalic.eot');
    src: local('../fonts/TT Norms Bold Italic'), local('../fonts/TTNorms-BoldItalic'),
        url('../fonts/TTNorms-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-BoldItalic.woff') format('woff'),
        url('../fonts/TTNorms-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Medium.eot');
    src: local('../fonts/TT Norms Medium'), local('../fonts/TTNorms-Medium'),
        url('../fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Medium.woff') format('woff'),
        url('../fonts/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Black.eot');
    src: local('../fonts/TT Norms Black'), local('../fonts/TTNorms-Black'),
        url('../fonts/TTNorms-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Black.woff') format('woff'),
        url('../fonts/TTNorms-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-MediumItalic.eot');
    src: local('../fonts/TT Norms Medium Italic'), local('../fonts/TTNorms-MediumItalic'),
        url('../fonts/TTNorms-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-MediumItalic.woff') format('woff'),
        url('../fonts/TTNorms-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-HeavyItalic.eot');
    src: local('../fonts/TT Norms Heavy Italic'), local('../fonts/TTNorms-HeavyItalic'),
        url('../fonts/TTNorms-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-HeavyItalic.woff') format('woff'),
        url('../fonts/TTNorms-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-ExtraBold.eot');
    src: local('../fonts/TT Norms ExtraBold'), local('../fonts/TTNorms-ExtraBold'),
        url('../fonts/TTNorms-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-ExtraBold.woff') format('woff'),
        url('../fonts/TTNorms-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}



/*/fonts*/