/* project-bunner */

    .project-bunner-wrap{ position: relative; overflow: hidden;
        .mbox{ padding: 340px 15px 0; position: static;}
        .con{ position: absolute; top: 0; bottom: 0; left: 15px; right: 15px; background-position: center center; background-repeat: no-repeat; background-size: cover;  background-attachment: fixed; }
        .texter{ position: relative; z-index: 2; padding: 0 0 25px 90px; max-width: 530px;
            &:before{ content: ''; position: absolute; left: 0; bottom: 0; top: 0; width: 2px; background-color: #fff; }
            h2{ margin-bottom: 10px; line-height: 1.2; font-size: 36px; color: #FFFFFF; font-weight: 600; letter-spacing: 0.02em; }
            p{font-weight: 300; line-height: 1.5; font-size: 18px; color: #FFFFFF; letter-spacing: 0.02em;}
        }
    }

    [dir=rtl]{
        .project-bunner-wrap .texter{ padding: 0 90px 25px 0; 
            &:before{ right: 0; left: auto; }
        }
    }

/* project-bunner */

/* list projects */

    .projects-list-wrap{ padding: 80px 0;
        .list-proj{ margin: 0 -8px; display: flex; align-items: flex-start; justify-content: flex-start; flex-wrap: wrap; }
        .item{ padding: 0px 8px 25px; width: calc(100%/3);}
        .con{ position: relative; overflow: hidden; width: 100%; height: 290px; display: block; text-decoration: none;
            img{ position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%); max-width: none; min-width: 100%; }
        }
        .content-part{ padding-top: 25px; }
        .labled{ padding-bottom: 5px;
            .label{ line-height: 18px; font-weight: 700; font-size: 14px; letter-spacing: 0.1em; text-transform: uppercase; color: #EA3E33; display: inline-block; }
        }
        .name{ padding-bottom: 5px;
            a{line-height: 1.3; font-size: 24px; font-weight: 400; color: #1A1B1B; text-decoration: none; }
        }
        .des{
            p{font-family: 'Lato'; line-height: 1.5; font-size: 16px; font-weight: 300; color: #637074;}
        }
        .sider-sup{ display: flex; align-items: center; justify-content: space-between; padding-top: 15px; max-width: 80%;
            .date{font-weight: 300; line-height: 1.3; font-size: 14px; color: #3C3D3E; max-width: calc( 100% - 70px);}
            .readmore{ width: 60px; 
                a{ width: 100%; display: block; height: 60px; border-radius: 50%; background-color: #F4F4F4; position: relative; transition: all 0.3s;
                    &:hover{ background-color: #e2e2e2;  }
                }
                svg{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } 
            }
        }

        .load-more-row{ display: block; padding: 25px 0 0; text-align: center;
            .butt-load{ display: inline-block; max-width: 220px; width: 100%; border: 2px solid rgba(#000000, 0.2); font-size: 14px;  text-align: center; color: #3C3D3E; padding: 15px 20px; text-decoration: none; transition: all 0.3s;
                &:hover{ border-color: #000; color: #000; }
            }
        }
    }

    [dir=rtl]{
        .projects-list-wrap .sider-sup .readmore svg{ transform: scaleX(-1) translate(50%, -50%); }
    }
/* list projects */

/* projects-first */

    .projects-first{ padding: 120px 0 80px; position: relative; z-index: 3; 
        .siders{ display: flex; align-items: flex-start; justify-content: center;  }
        .title-part{ width: 50%; }
        .single-proj{ width: 50%; position: relative; }
        .title-row{ padding: 10px 0;
            h1{font-size: 50px; color: #39D4EB; line-height: 1.2; font-weight: 700; letter-spacing: 0.02em; }
        }
        .list-categories{ padding: 10px 0; display: flex; align-items: center; justify-content: flex-start;; 
            .name{ font-family: 'Lato'; line-height: 1.5; font-size: 16px; text-align: center; color: #39D4EB; margin: 0 30px;}
            ul{ list-style: none; padding: 0; margin: 0; display: flex; align-items: center; justify-content: flex-start; flex-wrap: wrap; }
            li{ margin: 0 5px 5px 0;}
            a{ padding: 5px 20px; border: 1px solid #C4C4C4; font-family: 'Lato'; line-height: 1.5; font-size: 14px; color: #8D9293; text-decoration: none; display: inline-block; transition: all 0.3s; font-weight: 300;
                &.current, &:hover{ background-color: #39D4EB; border-color: #39D4EB; color: #fff; }
            }
        }
        .after{ padding-top: 80px;
            .texter{
                p{line-height: 32px; font-size: 24px; color: #626666;}
            }
        }

        .item{ position: absolute; right: 0; max-width: 460px; width: 100%; background: #F4F4F4;
            .con{ position: relative; overflow: hidden; width: 100%; height: 290px; display: block; text-decoration: none;
                img{ position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%); max-width: none; min-width: 100%; }
            }
            .content-part{ padding: 25px 30px; }
            .labled{ padding-bottom: 5px;
                .label{ line-height: 18px; font-weight: 700; font-size: 14px; letter-spacing: 0.1em; text-transform: uppercase; color: #EA3E33; display: inline-block; }
            }
            .name{ padding-bottom: 5px;
                a{line-height: 1.3; font-size: 24px; font-weight: 400; color: #1A1B1B; text-decoration: none; }
            }
            .des{
                p{font-family: 'Lato'; line-height: 1.5; font-size: 16px; font-weight: 300; color: #637074;}
            }
            .sider-sup{ display: flex; align-items: center; justify-content: space-between; padding-top: 15px;
                .date{font-weight: 300; line-height: 1.3; font-size: 14px; color: #3C3D3E; max-width: calc( 100% - 70px);}
                .readmore{ width: 60px; 
                    a{ width: 100%; display: block; height: 60px; border-radius: 50%; background-color: #FFF; position: relative; transition: all 0.3s;
                        &:hover{ background-color: #e2e2e2;  }
                    }
                    svg{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } 
                }
            }
            
        }

    }

    [dir=rtl]{
        .pr-single-first:before{ left: auto; right: 0; }
        .projects-first .item{ right: auto; left: 0; }
        .projects-first .list-categories li{ margin: 0 0 5px 5px; }
        .projects-first .item .sider-sup .readmore svg{ transform: scaleX(-1) translate(50%, -50%); }
    }

/* projects-first */

/* related-proj */

    .related-proj-wrap{ padding: 40px 0;
        .list-proj{ margin: 0 -8px; display: flex; align-items: flex-start; justify-content: flex-start; flex-wrap: wrap; }
        .item{ padding: 0px 8px 25px; width: calc(100%/3);}
        .con{ position: relative; overflow: hidden; width: 100%; height: 290px; display: block; text-decoration: none;
            img{ position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%); max-width: none; min-width: 100%; }
        }
        .content-part{ padding-top: 25px; }
        .labled{ padding-bottom: 5px;
            .label{ line-height: 18px; font-weight: 700; font-size: 14px; letter-spacing: 0.1em; text-transform: uppercase; color: #EA3E33; display: inline-block; }
        }
        .name{ padding-bottom: 5px;
            a{line-height: 1.3; font-size: 24px; font-weight: 400; color: #1A1B1B; text-decoration: none; }
        }
        .des{
            p{font-family: 'Lato'; line-height: 1.5; font-size: 16px; font-weight: 300; color: #637074;}
        }
        .sider-sup{ display: flex; align-items: center; justify-content: space-between; padding-top: 15px; max-width: 80%;
            .date{font-weight: 300; line-height: 1.3; font-size: 14px; color: #3C3D3E; max-width: calc( 100% - 70px);}
            .readmore{ width: 60px; 
                a{ width: 100%; display: block; height: 60px; border-radius: 50%; background-color: #F4F4F4; position: relative; transition: all 0.3s;
                    &:hover{ background-color: #e2e2e2;  }
                }
                svg{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } 
            }
        }

        .title-row{ max-width: 740px; padding-bottom: 30px; margin: 0 auto;
            h2{ line-height: 1.2; font-size: 36px; color: #040404; font-weight: 600; letter-spacing: 0.02em; }
        }
    }

    [dir=rtl]{
        .related-proj-wrap .sider-sup .readmore svg{ transform: scaleX(-1) translate(50%, -50%); }
    }

/* related-proj */

/* gallary-wrap */

    .gallary-wrap{ padding: 80px 0 20px;
        .topper-title{ max-width: 740px; padding-bottom: 30px; margin: 0 auto;
            h2{ line-height: 1.2; font-size: 36px; color: #040404; font-weight: 600; letter-spacing: 0.02em; padding-bottom: 25px; }
            p{ font-family: 'Lato'; line-height: 1.5; font-size: 16px; color: #637074; letter-spacing: 0.02em; }
        }
        .sliding-gal{ max-width: 90%; margin: 0 auto;
            .slick-list{ overflow: visible; }
            .item{ display: block; padding: 0 8px; 
                .con{ display:block; width: 100%; position: relative; overflow: hidden; height:460px; vertical-align: middle;  }
                img{ max-width: none; width: auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); height: auto;  }
            }
        }
        .arrows{ display: flex; align-items: center; justify-content: flex-start;  max-width: 740px; margin: 0 auto;
            .next, .prev{ display: block; width: 70px; height: 70px; background-color: #fff; position: relative; cursor: pointer; }
            .next:before{ content: ''; position: absolute; width: 16px; height: 16px; border-bottom: 3px solid #E8EAEA; border-right: 3px solid #E8EAEA; transform: rotate(135deg); top: 26px; left: 26px; transition: all 0.3s; }
            .next:hover{
                &:before{ border-color: #EA3E33; }
            }
            .prev:before{ content: ''; position: absolute; width: 16px; height: 16px; border-bottom: 3px solid #E8EAEA; border-right: 3px solid #E8EAEA; transform: rotate(-45deg); top: 26px; left: 26px;  transition: all 0.3s;}
            .prev:hover{
                &:before{ border-color: #EA3E33; }
            }
        }
    }

    [dir=rtl]{
        .gallary-wrap .sliding-gal, .gallary-wrap .arrows{ direction: ltr; 
            &>*{ direction: ltr; }
        }
        .gallary-wrap .sliding-gal{ max-width: 100%; }
        .gallary-wrap .arrows{ justify-content: flex-end; }
    }

/* gallary-wrap */

/* statistic */

    .statistic-wrap{ padding: 80px 0; background-color: #F4F4F4;
        .title-row{ padding-bottom: 30px;
            h2{ line-height: 1.2; font-size: 36px; color: #040404; font-weight: 600; letter-spacing: 0.02em; }
        }
        .list-elements{ display: flex; align-items: stretch; justify-content: space-between; flex-wrap: wrap;
            .stat{ width: calc(100%/4 - 3*16px/4); margin-bottom: 16px;
                .topper{ background-color: #fff;
                    .con{ text-align: center; padding: 40px 20px 10px; position: relative; 
                        .rotate-this{ position: absolute; left: calc(50% - 5px); bottom: 16px; transform: rotate(45deg); transform-origin: 50% 100%; }
                    }
                    .undertext{ padding: 20px 0; font-weight: 300; line-height: 1.4; font-size: 18px; text-align: center; color: #3C3D3E;}
                }
                .botter{ padding: 24px 24px 40px; text-align: center;
                    .des{ font-weight: 300; line-height: 1.4; font-size: 18px; color: #FFFFFF; padding-bottom: 15px;}
                    .result{ font-size: 60px; color: #FFFFFF; font-weight: 700; line-height: 1.4; }
                }
            }
            .stars{ width: calc(100%/4 - 3*16px/4); margin-bottom: 16px; background-color: #F39990;  padding: 24px 24px 40px;
                .title{ font-weight: 300; line-height: 1.5; font-size: 18px; text-align: center; color: #040404; padding-bottom: 8px; }
                .list-star{
                    ul{  padding: 20px 0 13px; display: flex; align-items: center; justify-content: center; list-style: none; margin: 0;
                        li{ margin: 0 4px;
                            &.active{ 
                                svg{ fill:  #fff; }
                            }
                        }
                    }            
                }                                                                      
            }
            .success{ width: calc(100%/4 - 3*16px/4); margin-bottom: 16px; background-color: #39D5EC; padding: 24px 24px 40px;
                .title{ font-weight: 300; line-height: 1.5; font-size: 18px; text-align: center; color: #040404; padding-bottom: 8px; }
                .content{ font-size: 60px; font-weight: 700; text-align: center; color: #FFFFFF;}
            }
            .histogram{ width: calc( 2 * (100%/4 - 16px/4) ); background-color: #FFFFFF; margin-bottom: 16px; padding: 16px;
                .title{ font-weight: 300; line-height: 1.4; font-size: 14px; text-align: center;}
                .list-hist{}
                .item{ padding: 10px 0; display: flex; align-items: center; justify-content: space-between; }
                .name{ font-weight: 300; line-height: 1.2; font-size: 14px; text-align: end; color: #626666; width: 35%;  }
                .graph{ width: 60%; display: flex; align-items: flex-start; justify-content: flex-start;
                    .cell{ height: 16px; display: inline-block;
                        &:nth-child(1){ background-color: #4CAF50; }
                        &:nth-child(2){ background-color: #FFB800; }
                        &:nth-child(3){ background-color: #EA3E33; }
                    }
                }
            }
        }
    }

    [dir=rtl]{
        .statistic-wrap .list-elements .stars .list-star ul{ direction: ltr; }
    }

/* statistic */

/* pr-about-wrap */

    .pr-about-wrap{ padding: 80px 0;
        .title-row{ padding-bottom: 30px;
            h2{ line-height: 1.2; font-size: 36px; color: #040404; font-weight: 600; letter-spacing: 0.02em; }
        }

        .texter{
            img{ margin-bottom: 20px; }
            p{ font-weight: 300; line-height: 1.4;  font-size: 18px; color: #3C3D3E; margin-bottom: 20px; }
        }
        .black-block{ padding: 70px; max-width: 460px; background-color: #EA3E33; position: relative; float: right; margin: 0 0 40px 80px;
            &:before{ content: ''; position: absolute; top: -16px; left: -16px; background-color:#040404; bottom: 16px; right: 16px; }
            .item{ position: relative; z-index: 2; padding-bottom: 40px;
                &:last-child{ padding-bottom: 0; }
            }
            .title{ font-size: 24px; color: #FFFFFF; opacity: 0.9; line-height: 1.4; padding-bottom: 10px; font-weight: 700; letter-spacing: 0.02em; }
            .sub{
                p{ font-weight: 300; line-height: 1.4; font-size: 16px; color: #FFFFFF; opacity: 0.9; letter-spacing: 0.02em; }
            }
        }
    }

    [dir=rtl]{
        .pr-about-wrap .black-block{ float: left; margin: 0 80px 40px 0; }
        .pr-about-wrap .black-block:before{ left: 16px; right: -16px; }
    }

/* pr-about-wrap */

/* pr-counters */

    .pr-counters-wrap{ padding: 110px 0; background-attachment: fixed; background-position: center center; background-size: cover;  position: relative; overflow: hidden;
        &:before{ content: ''; position: absolute; top: 0; left: 0; bottom: 0; width: 45%; background: linear-gradient(151.92deg, rgba(255, 255, 255, 0.15) 2.46%, rgba(255, 255, 255, 0) 109.99%), #000000; }
        .texter-part{ max-width: 560px; padding-bottom: 40px;
            h2{ line-height: 1.2; font-size: 36px; color: #F4F4F4; font-weight: 600; letter-spacing: 0.02em; padding-bottom: 15px; }
            p{ font-family: 'Lato';  font-weight: 300; line-height: 21px; font-size: 16px; color: #F4F4F4; letter-spacing: 0.02em; }
        }
        .list-counters{ display: flex; align-items: flex-start; justify-content: space-around; flex-wrap: wrap;
            .item{ max-width: 24%; width: 100%;
                .cou{ font-size: 90px; font-weight: 700; color: #EA3E33;}
                .des{ font-family: 'Lato'; font-weight: 300; letter-spacing: 0.02em; line-height: 1.4; font-size: 14px; color: #F4F4F4;}
            }
        }
    }

    [dir=rtl]{
        .pr-counters-wrap:before{ left: auto; }
    }

/* pr-counters */

/* tehnology */

    .tehnology-wrap{ padding: 80px 0; position: relative; overflow: hidden;
        .siders{ display: flex; align-items: center; justify-content: space-between;  width: 100%;  }
        .blue-box{ width: 50%;
            .con{ margin-left: -100px; background-color:  #3BB6D5; position: relative; display: inline-block;
                img{ transform: translate(-16px, -16px); }
            }
        }
        .texter-part{ width: 50%; 
            .title-row{
                h2{ padding-bottom: 15px; line-height: 1.2; font-weight: 700; font-size: 36px;  color: #000000; }
                p{ font-family: "Lato"; font-weight: 300; line-height: 1.4; font-size: 18px; color: #637074;}
            }
        }
        .list-items{ display: flex; align-items: flex-start; justify-content: space-between; flex-wrap: wrap;
            .item{width: calc(50% - 15px); padding: 20px 0; }
            .con{ height: 130px; display: flex; align-items: center; justify-content: flex-start; }
            .name{ line-height: 1.4; font-weight: 500; font-size: 24px; color: #000000; padding-bottom: 5px; }
            .text{
                p{ font-family: "Lato"; font-weight: 300; line-height: 1.3; font-size: 16px;  color: #626666;}
            }
        }
    }

    [dir=rtl]{
        .tehnology-wrap .blue-box .con{ margin-left: 0; margin-right: -100px; }
        .tehnology-wrap .blue-box .con img { transform: translate(16px, -16px); }
    }

/* tehnology */

/* pr-single-first */

    .pr-single-first{ position: relative; background-position: center center; background-size: cover; overflow: hidden; padding: 120px 0 60px;
        &:before{ content: ''; position: absolute; top: 0; left: 0; bottom: 0; width: 40vw; background: linear-gradient(142.87deg, rgba(255, 255, 255, 0.15) 2.46%, rgba(255, 255, 255, 0) 109.99%), #000000; }
        .center-text{ padding-top: 120px; padding-bottom: 200px; }

        .breadcrumbs ul li:after{ color: #fff;  opacity: 0.5; }
        .breadcrumbs ul li a { color: #FFFFFF; opacity: 0.5;}
        .breadcrumbs ul li span{ color: #FFFFFF; }

        .mbox{ padding: 0 115px; }
        .texter{
            h1, h2{ line-height: 1.2; font-weight: 700; font-size: 50px; color: #FFFFFF; padding-bottom: 15px; letter-spacing: 0.02em;}
            p{ font-weight: 300; line-height: 1.4; font-size: 18px; color: #8D9293;  letter-spacing: 0.02em;}
        }

        .transformed-title{ position: absolute; top: 50%; left: 15px; width: 1px;  height: 1px; transform: rotate(-90deg) ; 
            h2, h3{line-height: 1.5; font-weight: 400; font-size: 24px; color: #8D9293; height: auto; position: absolute; top: 0; left: 0; transform: translateY(-50%); line-height: 1.4; font-size: 14px; text-align: right; color: #8D9293; white-space: nowrap;}
            &:before{ content: ''; position: absolute; top: 2px; right: 15px; background-color: #fff; opacity: 0.2; width: 100vh; height: 1px; }
        }
    }

    [dir=rtl]{
        .pr-single-first .transformed-title{ left: auto; right: 15px; }
    }

/* pr-single-first */

/* contact-popup */

    .contact-popup{ position: fixed;  z-index: 10000; background-color: rgba(#000000 , 0.5); top: 0; left: 0; right: 0; bottom: 0; overflow: auto; 
        .contein-form{ height: auto; position: relative; max-width: 540px; background: linear-gradient(138.22deg, rgba(255, 255, 255, 0.15) 2.46%, rgba(255, 255, 255, 0) 109.99%), #000000; min-height: 100vh; padding: 100px 15px 60px;
            form{ max-width: 320px; margin: 0 auto; }
            .closer{ width: 18px; height: 18px;  position: absolute; top: 30px; right: 30px; cursor: pointer;
                &:before{ content: ''; position: absolute; width: 20px; height: 2px; background-color: #8D9293;  transform: rotate(45deg); top: 8px; left: -1px; }
                &:after{ content: ''; position: absolute; width: 20px; height: 2px; background-color: #8D9293;  transform: rotate(-45deg); top: 8px; left: -1px; }
            }
            .submiter{ padding-top: 15px; }

            .inputer{ width: 100%; padding-bottom: 15px; 
                input{ width: 100%; border: none; border-bottom: 2px solid #3A3A3A; background-color: transparent; transition: all 0.3s; padding: 10px 0; line-height: 1.4; font-size: 16px; color: #fff;
                    &:focus{ border-bottom: 2px solid #fff; }
                    &.error{ border-color: #DC2A27; }
                    &::-webkit-input-placeholder {color: #637074;}
                    &:-moz-placeholder {color: #637074;opacity:1;}
                    &::-moz-placeholder {color: #637074;opacity:1;}
                    &:-ms-input-placeholder {color: #637074;}
                }
                textarea{width: 100%; border: none; border-bottom: 2px solid #3A3A3A; background-color: transparent; transition: all 0.3s; resize: none; height: 110px; padding: 10px 0; line-height: 1.4; font-size: 16px; color: #fff;
                    &:focus{ border-bottom: 2px solid #fff; }
                    &.error{ border-color: #DC2A27; }
                    &::-webkit-input-placeholder {color: #637074;}
                    &:-moz-placeholder {color: #637074;opacity:1;}
                    &::-moz-placeholder {color: #637074;opacity:1;}
                    &:-ms-input-placeholder {color: #637074;}
                }
            }
            .contact-to-massenger{ padding-top: 30px;
                p{ line-height: 1.5; font-size: 16px; color: rgba(#F4F4F4 , 0.6) ; letter-spacing: 0.02em; font-weight: 300; }
                ul{ list-style: none; padding: 20px 0; margin: 0;
                    li{ display: inline-block; margin-right: 15px; vertical-align: middle; }
                    a{ display: block; text-decoration: none; }
                }
            } 
            .topper-part{ padding-bottom: 20px;
                h2{ line-height: 1.2; font-size: 36px; color: #FFFFFF; font-weight: 700; padding-bottom: 10px; letter-spacing: 0.02em; }
                p{ font-family: "Lato"; font-weight: 300; line-height: 1.4; font-size: 16px; color: #8D9293; letter-spacing: 0.02em; }
            }
        }
    }

/* contact-popup */

/* inside-list */

    .inside-list-wrap{ background-position: center center; background-size: cover; position: relative; overflow: hidden; padding: 100px 0;
        &:before{content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 40%; background-color: #0C0C0C; }
        .content-part{ max-width: 60%; padding: 0 0 0 90px; }
        .transformed-title{ position: absolute; top: -10px; left: 15px; width: 1px;  height: 1px; transform: rotate(-90deg) ; 
            h2, h3{line-height: 1.5; font-weight: 300; font-size: 24px; color: #8D9293; height: auto; position: absolute; top: 0; right: 0; transform: translateY(-50%); line-height: 1.4; font-size: 14px; text-align: right; color: #8D9293; white-space: nowrap;}
            &:before{ content: ''; position: absolute; top: 2px; left: 15px; background-color: #fff; opacity: 0.2; width: 80px; height: 1px; }
        }
        .texter{ max-width: 500px;
            h2{ padding-bottom: 25px; line-height: 1.2; font-weight: 700; font-size: 36px; color: #FFFFFF; letter-spacing: 0.02em; }
            p{ font-family: "Lato"; font-weight: 300; line-height: 1.4; font-size: 16px; color: #E8EAEA; opacity: 0.9; }
        }

        .list-typers{ padding: 40px 0 0; 
            ul{ list-style: none; padding: 0; margin: 0; display: flex; align-items: flex-start; justify-content: space-between; flex-wrap: wrap;
                li{ padding: 0 10px 50px 0; width: 50%;}
            }
            a{text-decoration: none; font-size: 24px; line-height: 1.2; font-weight: 700; color: #FFFFFF; letter-spacing: 0.02em; transition: all 0.3s;
                &:hover{ color: #39D4EB; }
            }
        }
    }

    [dir=rtl]{
        .inside-list-wrap:before{ right: 0; left: 40%; }
        .inside-list-wrap .transformed-title{ right: 15px; left: auto; }
        .inside-list-wrap .content-part{ padding: 0 90px 0 0; }
        .inside-list-wrap .list-typers ul li{ padding: 0 0 50px 10px; }
    }

/* inside-list */

/* ab-wrap */

    .ab-wrap{ padding: 120px 0; background-position: center center; background-size: cover; background-attachment: fixed;
        .texter{ text-align: center; max-width: 560px; margin: 0 auto; padding-bottom: 10px;
            h2{font-size: 36px; font-weight: 700; margin-bottom: 15px; color: #FFFFFF;}
            p{ font-weight: 300; line-height: 1.5; margin-bottom: 15px; font-size: 16px; color: #F4F4F4;}
        }
        .button-row{ text-align: center; }
    }

/* ab-wrap */

/* ab-partners */

    .ab-partners-wrap{ padding: 100px 0 60px; background-color: #fff;
        .siders{ display: flex; align-items: flex-start; justify-content: space-between; max-width: 910px; margin: 0 auto; }
        .title-part{ width: 380px;
            h2{line-height: 1.2; font-weight: 700; font-size: 36px; color: #000000; }
        }
        .list-partner{ width: calc(100% - 380px); display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap;
            .item{ margin: 0px 20px 40px; max-width: 30%; text-align: center;
                a{ display: inline-block; text-decoration: none; }
                img{ -webkit-filter: grayscale(100%);filter: grayscale(100%); transition: all 0.3s; }
                &:hover{
                    img{ -webkit-filter: grayscale(0%);filter: grayscale(0%); }
                }
            }
        }
    }

/* ab-partners */

/* ab-graph-wrap */

    .ab-graph-wrap{ padding: 100px 0 60px;
        .title-row{ text-align: center; padding-bottom: 40px;
            h2{font-size: 36px; line-height: 1.4; font-weight: 700; color: #000000;}
        }
        .list-graph{ display: flex; align-items: flex-start; justify-content: center; flex-wrap: wrap; }
        .item{ margin: 0 8px 16px;
            .con{ position: relative; 
                .percenter{ position: absolute; left: 0; right: 0; bottom: 0; text-align: center; font-size: 36px; font-weight: 700;  }
                svg path{ transform-origin: 50% 100%; }
            }
            .after-text{ padding-top: 15px;
                p{ text-align: center; font-weight: 300; line-height: 1.3; font-size: 18px; text-align: center; }
            }
        }
    }

/* ab-graph-wrap */

/* ab-team */

    .ab-team-wrap{ padding: 80px 0 40px; background-color: #E8EAEA; overflow: hidden;
        .translate-title{ position: absolute; top: 0px; left: 30px; width: 1px;  height: 1px; transform: rotate(-90deg); 
            h2, h3{line-height: 1.5; font-weight: 300; font-size: 24px; color: #8D9293; height: auto; position: absolute; top: 0; right: 0; transform: translateY(-50%); line-height: 1.4; font-size: 14px; text-align: right; color: #8D9293; white-space: nowrap;}
            &:before{ content: ''; position: absolute; top: 2px; left: 15px; background-color: #000000; opacity: 0.2; width: 80px; height: 1px; }
        }

        .title-part{ padding: 0 100px;
            .title-row{ padding-bottom: 30px;
                h2{ margin-bottom: 10px; line-height: 1.2; font-weight: 700; font-size: 36px; color: #000000; }
                p{font-weight: 300; line-height: 1.4; font-size: 18px; color: #637074;}
            }
        }
        .team-list{ display: flex; align-items: flex-start; justify-content: flex-start; flex-wrap: wrap; margin: 0 -16px;
            .item{ margin: 0 8px 16px; max-width: 272px; width: 100%; }
            .con{ width: 100%; position: relative; overflow: hidden; height: 272px;
                img{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);  max-width: none;}
            }
            .info{ padding: 15px; text-align: center;
                .name{ line-height: 1.5; font-size: 24px; font-weight: 700; color: #1A1B1B; }
                .profile{ font-weight: 300; line-height: 1.4; font-size: 14px; color: #626666; }
            }
        }
    }

    [dir=rtl]{
        .ab-team-wrap .translate-title{ left: auto; right: 30px; }
    }

/* ab-team */

/* ab-why */

    .ab-why-wrap{ padding: 100px 0 50px; background-color: #fff;
        .title-row{ text-align: center; padding-bottom: 40px;
            h2{font-size: 36px; font-weight: 700; color: #000000; line-height: 1.2; margin-bottom: 10px; }
            p{font-weight: 300; line-height: 1.4; font-size: 18px; color: #637074;}
        }
        .list-items{ display: flex; align-items: center; justify-content: center; flex-wrap: wrap; 
            .item{ max-width: 275px; margin: 0 8px 16px; }
            .con{ height: 100px; width: 100%; display: flex; align-items: center; justify-content: center;}

        }
        .texter{ text-align: center; padding: 10px 5px;
            .named{line-height: 1.4; font-size: 24px; font-weight: 500; color: #000000; margin-bottom: 5px;}
            .about-text{ 
                p{font-weight: 300;line-height: 1.4; font-size: 16px; color: #626666;}
            }
        }

    }

/* ab-why */

/* ab-bigtexter */

    .ab-bigtexter-wrap{ padding: 100px 0 40px; background-color: #F4F4F4;
        .black-block{ padding: 70px; max-width: 460px; background-color: #EA3E33; position: relative; float: left; margin: 0px 40px 40px 0;
            &:before{ content: ''; position: absolute; top: -16px; left: -16px; background-color:#040404; bottom: 16px; right: 16px; }
            .item{ position: relative; z-index: 2; padding-bottom: 40px;
                &:last-child{ padding-bottom: 0; }
            }
            .title{ font-size: 24px; color: #FFFFFF; opacity: 0.9; line-height: 1.4; padding-bottom: 10px; font-weight: 700; letter-spacing: 0.02em; }
            .sub{
                p{ font-weight: 300; line-height: 1.4; font-size: 16px; color: #FFFFFF; opacity: 0.9; letter-spacing: 0.02em; }
            }
        }
        .blue-box{ max-width: 50%; float: left; margin: 0px 40px 40px 0;
            .con{  background-color:  #EA3E33; position: relative; display: inline-block;
                img{ transform: translate(-16px, -16px); }
                &:after{ content: ''; transform: translate(-16px, -16px);  position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 10px solid #000; z-index: 5; }
            }
        }

        .texter{ padding-bottom: 30px;
            h2, h3{ font-size: 36px; font-weight: 700;  color: #3C3D3E; margin-bottom: 15px; }
            h4{ margin-bottom: 25px; font-weight: 300; line-height: 1.4; font-size: 18px; color: #3C3D3E;  }
            p{ margin-bottom: 25px; font-weight: 300; line-height: 1.4; font-size: 16px; color: #3C3D3E;  }
        }

    }

    .ab-texter-wrap{padding: 100px 0 40px;
        .texter{ 
            h2, h3{ font-size: 36px; font-weight: 700;  color: #3C3D3E; margin-bottom: 15px; }
            h4{ margin-bottom: 25px; font-weight: 300; line-height: 1.4; font-size: 18px; color: #3C3D3E;  }
            p{ margin-bottom: 25px; font-weight: 300; line-height: 1.4; font-size: 16px; color: #3C3D3E;  }
        }
    }

/* ab-bigtexter */

/* ab-values */

    .ab-values-wrap{ padding: 100px 0 60px;
        .title-row{ text-align: center; padding-bottom: 25px;
            h2{ margin-bottom: 10px; line-height: 1.2; font-size: 36px; color: #000000; font-weight: 700; }
            p{font-weight: 300; line-height: 1.4; font-size: 18px; color: #637074; }
        }
        .list-items{ display: flex; align-items: stretch; justify-content: flex-start; flex-wrap: wrap; margin: 0 -16px;
            .item{ padding: 25px; background-color: #F4F4F4; max-width: 270px; width: 100%; margin: 0 8px 16px; }
            .con{ height: 120px; display: flex; align-items: center; justify-content: flex-start; align-content: center; }
            .infos{ padding-top: 5px;
                .name{line-height: 1.5; font-size: 24px; color: #000000; font-weight: 500; margin-bottom: 5px;  }
                .content{font-weight: 300; line-height: 1.3; font-size: 16px; color: #626666;}
            }
        }
    }

/* ab-values */

/* ab-video */

    .ab-video-wrap{ position: relative; overflow: hidden; background-size: cover;
        video{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); object-fit: cover; min-width: 100%; min-height: 100%; }
        .centered{ padding: 150px 0; text-align: center;
            .smaller{ padding-bottom: 20px; font-weight: 400; line-height: 26px; font-size: 18px; color: #FFFFFF; transform: translateY(100px); opacity: 0; transition: all 1s ease-out ; 
                &.scrolled{ transform: translateY(0px); opacity: 1;  }
            }
            .bigtext{
                p{font-size: 50px; line-height: 1.2; font-weight: 700; color: #FFFFFF; margin-bottom: 30px; transform: translateY(100px); opacity: 0; transition: all 1s ease-out ; 
                    &:nth-child(1){ transition-delay: 0.5s; }
                    &:nth-child(2){ transition-delay: 0.8s; }
                    &:nth-child(3){ transition-delay: 1.1s; }
                    &:nth-child(4){ transition-delay: 1.4s; }
                    &:nth-child(5){ transition-delay: 1.7s; }
                    &:nth-child(6){ transition-delay: 2s; }
                }
                &.scrolled p{ transform: translateY(0px); opacity: 1;  }
            }
        }
    }

/* ab-video */

/* ab-first */

    .ab-first{ position: relative; overflow: hidden; background-size: cover; background-position: center center;
        video{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); object-fit: cover; min-width: 100%; min-height: 100%; }
        .centered{ padding: 150px 100px 30px; }
        .last-part{ padding: 0 100px 40px; }
        .transformed-title{ position: absolute; top: 50%; left: 15px; width: 1px;  height: 1px; transform: rotate(-90deg) ; 
            h2, h3{line-height: 1.5; font-weight: 400; font-size: 24px; color: #8D9293; height: auto; position: absolute; top: 0; left: 0; transform: translateY(-50%); line-height: 1.4; font-size: 14px; text-align: right; color: #8D9293; white-space: nowrap;}
            &:before{ content: ''; position: absolute; top: 2px; right: 15px; background-color: #fff; opacity: 0.2; width: 100vh; height: 1px; }
        }
        .texter{ text-align: center;
            h1{padding-bottom: 20px; font-weight: 400; line-height: 26px; font-size: 18px; color: #FFFFFF; transform: translateY(100px); opacity: 0; transition: all 1s ease-out ;  }
            p{font-size: 50px; line-height: 1.2; font-weight: 700; color: #FFFFFF; margin-bottom: 30px; transform: translateY(100px); opacity: 0; transition: all 1s ease-out ; 
                &:nth-child(1){ transition-delay: 0.5s; }
                &:nth-child(2){ transition-delay: 0.8s; }
                &:nth-child(3){ transition-delay: 1.1s; }
                &:nth-child(4){ transition-delay: 1.4s; }
                &:nth-child(5){ transition-delay: 1.7s; }
                &:nth-child(6){ transition-delay: 2s; }
            }
            &.scrolled {
                h1, p{ transform: translateY(0px); opacity: 1;  }
            }
        }
    }

    [dir=rtl]{
        .ab-first .transformed-title{ left: auto; right: 15px; }
    }

/* ab-first */

/* solution */

    .solution-wrap{ position: relative; overflow: hidden; padding: 100px 0 0;
        &:before{ content: ''; position: absolute; top: 0; left: 0; right: calc(100% - 30%); bottom: 0; background-color:#E8EAEA; opacity: 0.5;  }
        .transformed-title{ position: absolute; top: -10px; left: 15px; width: 1px;  height: 1px; transform: rotate(-90deg) ; 
            h2, h3{line-height: 1.5; font-weight: 300; font-size: 24px; color: #8D9293; height: auto; position: absolute; top: 0; right: 0; transform: translateY(-50%); line-height: 1.4; font-size: 14px; text-align: right; color: #8D9293; white-space: nowrap;}
            &:before{ content: ''; position: absolute; top: 2px; left: 15px; background-color: #000; opacity: 0.2; width: 80px; height: 1px; }
        }
        .title-row{ padding: 0 100px 90px; max-width: 810px; 
            h2{line-height: 1.2; font-weight: 700; font-size: 36px; color: #1A1B1B; letter-spacing: 0.02em; }
        }
        .list-solutions{ padding: 30px 0 0; position: relative;
            .start-imager{ position: absolute; top: 0; left: 0; bottom: 0; right: calc( 100%/2 + 1150px/2 - 340px);  background-size: cover; z-index: 5; }
            .mbox{ padding-left: 400px; }
        }
        .title-line{ display: flex; align-items: flex-start; justify-content: space-between; padding-bottom: 15px;
            .side-title{ width: 80%;
                h3{line-height: 1.4; font-weight: 700; font-size: 24px; color: #3C3D3E; }
            }
            .navigation{width: 20%; display: flex; align-items: center; justify-content: flex-end;
                .prev{ width: 30px; height: 30px;  margin: 0 5px; position: relative; position: relative; cursor: pointer;
                    &:before{ content: ''; position: absolute; width: 16px; height: 16px; border-bottom: 2px solid #c6c8c8; border-right: 2px solid #c6c8c8; transform: rotate(135deg); top: 7px; left: 11px; transition: all 0.3s; }
                    &:hover{
                        &:before{ border-color: #EA3E33; }
                    }
                }
                .next{ width: 30px; height: 30px;  margin: 0 5px; position: relative; position: relative; cursor: pointer;
                    &:before{ content: ''; position: absolute; width: 16px; height: 16px; border-bottom: 2px solid #c6c8c8; border-right: 2px solid #c6c8c8; transform: rotate(-45deg); top: 7px; left: 3px;  transition: all 0.3s; }
                    &:hover{
                        &:before{ border-color: #EA3E33; }
                    }
                }
            }

        }
        .slider-items{ margin: 0 !important; 
            .slick-list{ overflow: visible; padding: 0 !important; }
        }
        .item{ 
            .contein{padding: 40px  60px; border-left: 1px solid #E8EAEA; position: relative;
                &:before{ content: ''; position: absolute; top: 0; left: 0; width: 0; height: 116px; transition: all 0.5s; background: #E8EAEA; opacity: 0.3; }  
            }
            .num{ margin-bottom: 5px; line-height: 1.5; font-weight: 500; position: relative; z-index: 5;; font-size: 14px; color: #8D9293;}
            .name{ position: relative; z-index: 5; padding-bottom: 15px;
                a{line-height: 1.4; font-size: 24px; font-weight: 500; color: #000; text-decoration: none; }
            }
            .texter{ position: relative; z-index: 5;
                p{font-weight: 300; line-height: 1.4; font-size: 16px; color: #8D9293;}
            }
            .readmore-row{ padding-top: 40px;
                .readmore{ transform: translateY(20px); transition: all 0.3s; background-color: #fff; color: #000; opacity: 0; 
                    &:hover{ background-color: rgba(255, 255, 255, 0.5); color: #fff; }
                }
                .readmore{ display: inline-block; max-width: 136px; width: 100%; border: 2px solid rgba(#000000, 0.2); font-size: 14px;  text-align: center; color: #3C3D3E; padding: 15px 20px; text-decoration: none; transition: all 0.3s; font-size: 14px; color: #1A1B1B;
                    &:hover{ border-color: #000; color: #000; }
                }
            }
            &:hover{
                .readmore{ transform: translateY(0px); opacity: 1; }
            }
            &.slick-active.slick-current{
                .contein:before{ width: 116px;}
            }
            
        }
        .slick-dots{ bottom: 0; }
        .slick-dots li{width: 14px; height: 14px; 
            button{ padding: 0; font-size: 1px; border: 2px solid #EA3E33; transition: all 0.3s; border-radius: 50%; width: 14px; height: 14px; 
                &:before{ content: ''; }
            }
            &.slick-active{
                button{ background-color: #EA3E33;  }
            }
        }
    }

    [dir=rtl]{
        .solution-wrap .item .contein{ direction: rtl; }
        .solution-wrap .title-line .navigation{
            .prev{ order: 2; }
            .next{ order: 1; }
        }
        .solution-wrap .item .contein:before{ width: 116px; left: auto; right: 0; }
        .solution-wrap .transformed-title{ left: auto; right: 15px;;} 
        .solution-wrap:before{ left: calc(100% - 30%); right: 0; }

        .solution-wrap .list-solutions .start-imager{  right: 0; left: calc( 100%/2 + 1150px/2 - 340px); }
        .solution-wrap .list-solutions .mbox {padding-left: 15px; padding-right: 400px;}
    }

/* solution */