<div class="ab-bigtexter-wrap">
    <div class="mbox">
        <div class="texter">

            <h2>About Us</h2>
            <p>The longer the current stage of the confrontation in the territories continues, the clearer it becomes that the No. 1 problem now facing the IDF is terrorism on the West Bank roads.</p>
            <p>The longer the current stage of the confrontation in the territories continues, the clearer it becomes that the No. 1 problem now facing the IDF is terrorism on the West Bank roads.</p>
            <p>Shots fired at IDF positions and settlements are usually not effective and the attacks inside the Green Line have diminished to a large extent, partly because Hamas opted to heed Chairman Yasser Arafat's call for them to end.</p>
            <p>The longer the current stage of the confrontation in the territories continues, the clearer it becomes that the No. 1 problem now facing the IDF is terrorism on the West Bank roads.</p>
            <p>Shots fired at IDF positions and settlements are usually not effective and the attacks inside the Green Line have diminished to a large extent, partly because Hamas opted to heed Chairman Yasser Arafat's call for them to end.</p>
        </div>
        <div class="texter cfix">
            <div class="black-block">
                <div class="item">
                    <div class="title">Simply</div>
                    <div class="sub">
                        <p>Our customers are central to everything we do.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="title">Simply</div>
                    <div class="sub">
                        <p>Our customers are central to everything we do.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="title">Simply</div>
                    <div class="sub">
                        <p>Our customers are central to everything we do.</p>
                    </div>
                </div>                
            </div>
            <h2>Who We Are</h2>
            <h4>The longer the current stage of the confrontation in the territories continues, the clearer it becomes that the No. 1 problem now facing the IDF is terrorism on the West Bank roads.</h4>
            <p>The longer the current stage of the confrontation in the territories continues, the clearer it becomes that the No. 1 problem now facing the IDF is terrorism on the West Bank roads.</p>
            <p>Shots fired at IDF positions and settlements are usually not effective and the attacks inside the Green Line have diminished to a large extent, partly because Hamas opted to heed Chairman Yasser Arafat's call for them to end.Line have diminished to a large extent, partly because Hamas opted to heed Chairman Yasser Arafat's call for them to end.</p>
            <p>The longer the current stage of the confrontation in the territories continues, the clearer it becomes that the No. 1 problem now facing the IDF is terrorism on the West Bank roads.</p>
            <p>Shots fired at IDF positions and settlements are usually not effective and the attacks inside the Green Line have diminished to a large extent, partly because Hamas opted to heed Chairman Yasser Arafat's call for them to end.</p>
            <p>The longer the current stage of the confrontation in the territories continues, the clearer it becomes that the No. 1 problem now facing the IDF is terrorism on the West Bank roads.</p>
            <p>Shots fired at IDF positions and settlements are usually not effective and the attacks inside the Green Line have diminished to a large extent, partly because Hamas opted to heed Chairman Yasser Arafat's call for them to end.</p>
        </div>
    </div>
</div>