<div class="ab-first" style="background-image: url(images/ab-first.jpg);">
    <video poster="https://s3.amazonaws.com/nikeinc-vendor-assets/about/About-Landing-Movie.jpg" autoplay="" loop="" muted="" playsinline="">
        <source data-src="https://s3.amazonaws.com/nikeinc-vendor-assets/about/About-Landing-Movie.mp4" type="video/mp4" src="https://s3.amazonaws.com/nikeinc-vendor-assets/about/About-Landing-Movie.mp4">
    </video>
    <div class="mbox">
        <div class="centered">
            <div class="texter">
                <h1>Our Mission</h1>
                <p>About our company</p>
                <p>What people say</p>
                <p>Projects</p>
                <p>Contacts</p>
            </div>
        </div>
        <div class="last-part">
            <div class="transformed-title">
                <h2>About us</h2>
            </div>
            <div class="breadcrumbs">
                <ul>
                    <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to PROLOG." href="http://www.anvi.team" class="home"><span property="name">PROLOG</span></a><meta property="position" content="1"></span></li>
                    <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span property="name">Projects HB</span><meta property="position" content="2"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>