<div class="ab-team-wrap">
    <div class="mbox">
        <div class="title-part">
            <div class="translate-title">
                <h2>Our Team</h2>
            </div>
            <div class="title-row">
                <h2>In our company work only professionals</h2>
                <p>Our mission is what drives us to do everything possible to expand human potential. </p>
            </div>
        </div>
        <div class="team-list">
            <div class="item">
                <div class="con">
                    <img src="images/team1.jpg" alt="">
                </div>
                <div class="info">
                    <div class="name"> Dorothy Morales </div>
                    <div class="profile"> CEO Founder </div>
                </div>
            </div>
            <div class="item">
                <div class="con">
                    <img src="images/team1.jpg" alt="">
                </div>
                <div class="info">
                    <div class="name"> Dorothy Morales </div>
                    <div class="profile"> CEO Founder </div>
                </div>
            </div>
            <div class="item">
                <div class="con">
                    <img src="images/team1.jpg" alt="">
                </div>
                <div class="info">
                    <div class="name"> Dorothy Morales </div>
                    <div class="profile"> CEO Founder </div>
                </div>
            </div>
            <div class="item">
                <div class="con">
                    <img src="images/team1.jpg" alt="">
                </div>
                <div class="info">
                    <div class="name"> Dorothy Morales </div>
                    <div class="profile"> CEO Founder </div>
                </div>
            </div>
        </div>
    </div>
</div>