<div class="ab-values-wrap">
    <div class="mbox">
        <div class="title-row">
            <h2>Our Values</h2>
            <p>Our mission is what drives us to do everything possible to expand human potential. </p>
        </div>
        <div class="list-items">
            <div class="item">
                <div class="con">
                    <img src="images/val1.png" alt="">
                </div>
                <div class="infos">
                    <div class="name">The Best People</div>
                    <div class="content">It is a long established fact that a reader will be distracted by the readable content.</div>
                </div>
            </div>
            <div class="item">
                <div class="con">
                    <img src="images/val2.png" alt="">
                </div>
                <div class="infos">
                    <div class="name">The Best People</div>
                    <div class="content">It is a long established fact that a reader will be distracted by the readable content.</div>
                </div>
            </div>
            <div class="item">
                <div class="con">
                    <img src="images/val3.png" alt="">
                </div>
                <div class="infos">
                    <div class="name">The Best People</div>
                    <div class="content">It is a long established fact that a reader will be distracted by the readable content.</div>
                </div>
            </div>
            <div class="item">
                <div class="con">
                    <img src="images/val4.png" alt="">
                </div>
                <div class="infos">
                    <div class="name">The Best People</div>
                    <div class="content">It is a long established fact that a reader will be distracted by the readable content.</div>
                </div>
            </div>
        </div>
    </div>
</div>