<div class="ab-video-wrap" style="background-image: url(images/ab-video-bg.jpg);">
    <video poster="https://s3.amazonaws.com/nikeinc-vendor-assets/about/About-Landing-Movie.jpg" autoplay="" loop="" muted="" playsinline="">
        <source data-src="https://s3.amazonaws.com/nikeinc-vendor-assets/about/About-Landing-Movie.mp4" type="video/mp4" src="https://s3.amazonaws.com/nikeinc-vendor-assets/about/About-Landing-Movie.mp4">
    </video>
    <div class="mbox">
        <div class="centered">
            <div class="smaller">Our Vission</div>
            <div class="bigtext">
                <p>About our company</p>
                <p>What people say</p>
                <p>Projects</p>
                <p>Contacts</p>
            </div>
        </div>
    </div>
</div>