<div class="articles-first">
    <div class="mbox">
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Home</a></li>
                <li><span>Articles</span></li>
            </ul>
        </div>
        <div class="title-row">
            <div class="siders">
                <h1>Articles</h1>           

                <div class="filter-part">
                    <form action="http://www.anvi.team/en/blog" method="get" class="filter-form choose-row">

                        <div class="named"> Filter </div>
                        <div class="inputer">
                            <select name="slug" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
                                <option value="all1">All1</option>
                                <option value="all2">All2</option>
                                <option value="all3">All3</option>
                                <option value="all4">All4</option>
                                <option value="all5">All5</option>
                                <option value="all6">All6</option>
                            </select>
                        </div>
                        <div class="inputer">
                            <select name="datesort" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
                                <option value="ASC"> ASC </option>
                                <option value="DESC"> DESC </option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="contein-slider">
            <div class="topper-slider">
                <div class="item">
                    <div class="siders">
                        <div class="con">
                            <img src="images/item-image.jpg" alt="">
                        </div>
                        <div class="content-part">
                            <div class="labled-row">
                                <div class="label"> building </div>
                            </div>
                            <div class="name">
                                <a href="#">Israel: Completion of Highway No.31</a>
                            </div>
                            <div class="content">
                                <p>On Friday morning, November 24, it will fully open for traffic on Highway 31. It is a route connecting the southern part of the Dead Sea coast with the center of the country through Arad.</p>
                            </div>
                            <div class="date">
                                23/05/2019 10:53pm
                            </div>
                            <div class="readmore-row">
                                <a href="#" class="butt">
                                    <span>Read more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="siders">
                        <div class="con">
                            <img src="images/item-image.jpg" alt="">
                        </div>
                        <div class="content-part">
                            <div class="labled-row">
                                <div class="label"> building </div>
                            </div>
                            <div class="name">
                                <a href="#">Israel: Completion of Highway No.31</a>
                            </div>
                            <div class="content">
                                <p>On Friday morning, November 24, it will fully open for traffic on Highway 31. It is a route connecting the southern part of the Dead Sea coast with the center of the country through Arad.</p>
                            </div>
                            <div class="date">
                                23/05/2019 10:53pm
                            </div>
                            <div class="readmore-row">
                                <a href="#" class="butt">
                                    <span>Read more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="siders">
                        <div class="con">
                            <img src="images/item-image.jpg" alt="">
                        </div>
                        <div class="content-part">
                            <div class="labled-row">
                                <div class="label"> building </div>
                            </div>
                            <div class="name">
                                <a href="#">Israel: Completion of Highway No.31</a>
                            </div>
                            <div class="content">
                                <p>On Friday morning, November 24, it will fully open for traffic on Highway 31. It is a route connecting the southern part of the Dead Sea coast with the center of the country through Arad.</p>
                            </div>
                            <div class="date">
                                23/05/2019 10:53pm
                            </div>
                            <div class="readmore-row">
                                <a href="#" class="butt">
                                    <span>Read more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="siders">
                        <div class="con">
                            <img src="images/item-image.jpg" alt="">
                        </div>
                        <div class="content-part">
                            <div class="labled-row">
                                <div class="label"> building </div>
                            </div>
                            <div class="name">
                                <a href="#">Israel: Completion of Highway No.31</a>
                            </div>
                            <div class="content">
                                <p>On Friday morning, November 24, it will fully open for traffic on Highway 31. It is a route connecting the southern part of the Dead Sea coast with the center of the country through Arad.</p>
                            </div>
                            <div class="date">
                                23/05/2019 10:53pm
                            </div>
                            <div class="readmore-row">
                                <a href="#" class="butt">
                                    <span>Read more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrows">
                <div class="next"></div>
                <div class="prev"></div>
            </div>
        </div>
    </div>
</div>