<div class="article-list-wrap">
    <div class="mbox">
        <div class="list-articles">
            <div class="item">
                <a href="#" class="con">
                    <img src="images/item-image.jpg" alt="">
                </a>
                <div class="content-part">
                    <div class="labled">
                        <div class="label">building</div>
                    </div>
                    <div class="name">
                        <a href="#">Israel: Completion of Highway No.31</a>
                    </div>
                    <div class="des">
                        <p>On Friday morning, November 24, it will fully open for traffic on Highway 31. It is a route connecting the southern part of the Dead Sea coast with the center of the country through Arad.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="#" class="con">
                    <img src="images/item-image.jpg" alt="">
                </a>
                <div class="content-part">
                    <div class="labled">
                        <div class="label">building</div>
                    </div>
                    <div class="name">
                        <a href="#">Israel: Completion of Highway No.31</a>
                    </div>
                    <div class="des">
                        <p>On Friday morning, November 24, it will fully open for traffic on Highway 31. It is a route connecting the southern part of the Dead Sea coast with the center of the country through Arad.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="#" class="con">
                    <img src="images/item-image.jpg" alt="">
                </a>
                <div class="content-part">
                    <div class="labled">
                        <div class="label">building</div>
                    </div>
                    <div class="name">
                        <a href="#">Israel: Completion of Highway No.31</a>
                    </div>
                    <div class="des">
                        <p>On Friday morning, November 24, it will fully open for traffic on Highway 31. It is a route connecting the southern part of the Dead Sea coast with the center of the country through Arad.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="#" class="con">
                    <img src="images/item-image.jpg" alt="">
                </a>
                <div class="content-part">
                    <div class="labled">
                        <div class="label">building</div>
                    </div>
                    <div class="name">
                        <a href="#">Israel: Completion of Highway No.31</a>
                    </div>
                    <div class="des">
                        <p>On Friday morning, November 24, it will fully open for traffic on Highway 31. It is a route connecting the southern part of the Dead Sea coast with the center of the country through Arad.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="#" class="con">
                    <img src="images/item-image.jpg" alt="">
                </a>
                <div class="content-part">
                    <div class="labled">
                        <div class="label">building</div>
                    </div>
                    <div class="name">
                        <a href="#">Israel: Completion of Highway No.31</a>
                    </div>
                    <div class="des">
                        <p>On Friday morning, November 24, it will fully open for traffic on Highway 31. It is a route connecting the southern part of the Dead Sea coast with the center of the country through Arad.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="#" class="con">
                    <img src="images/item-image.jpg" alt="">
                </a>
                <div class="content-part">
                    <div class="labled">
                        <div class="label">building</div>
                    </div>
                    <div class="name">
                        <a href="#">Israel: Completion of Highway No.31</a>
                    </div>
                    <div class="des">
                        <p>On Friday morning, November 24, it will fully open for traffic on Highway 31. It is a route connecting the southern part of the Dead Sea coast with the center of the country through Arad.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="#" class="con">
                    <img src="images/item-image.jpg" alt="">
                </a>
                <div class="content-part">
                    <div class="labled">
                        <div class="label">building</div>
                    </div>
                    <div class="name">
                        <a href="#">Israel: Completion of Highway No.31</a>
                    </div>
                    <div class="des">
                        <p>On Friday morning, November 24, it will fully open for traffic on Highway 31. It is a route connecting the southern part of the Dead Sea coast with the center of the country through Arad.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="#" class="con">
                    <img src="images/item-image.jpg" alt="">
                </a>
                <div class="content-part">
                    <div class="labled">
                        <div class="label">building</div>
                    </div>
                    <div class="name">
                        <a href="#">Israel: Completion of Highway No.31</a>
                    </div>
                    <div class="des">
                        <p>On Friday morning, November 24, it will fully open for traffic on Highway 31. It is a route connecting the southern part of the Dead Sea coast with the center of the country through Arad.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="load-more-row">
            <a href="#" class="butt-load">
                <span>See more</span>
            </a>
        </div>
    </div>
</div>