<div class="comments-block">
    <div class="mbox">
        <div class="translate-title"> 
            <h2> Comments </h2> 
        </div>
        <div class="contein">
            <div class="title-row">
                <h2>Comments</h2>
            </div>
            <div class="content-part">
                <div class="siders">
                    <div class="comment-side">
                        <div class="list-comments">
                            <div class="comment-single">
                                <div class="date"> November 24 </div>
                                <div class="text">
                                    <p>“ It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum. “</p>
                                </div>
                                <div class="user">
                                    <div class="con">
                                        <img src="images/t1.jpg" alt="">
                                    </div>
                                    <div class="named"> Patrick Rios </div>
                                </div>
                            </div>
                            <div class="comment-single">
                                <div class="date"> November 24 </div>
                                <div class="text">
                                    <p>“ It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum. “</p>
                                </div>
                                <div class="user">
                                    <div class="con">
                                        <img src="images/t1.jpg" alt="">
                                    </div>
                                    <div class="named"> Patrick Rios </div>
                                </div>
                            </div>
                        </div>

                        <div class="load-more-row">
                            <a href="#" class="butt-load">
                                <span>See more</span>
                            </a>
                        </div>

                    </div>
                    <div class="comments-form">
                        <form action="">
                            <div class="title-form">
                                <h4>Leave a Comment</h4>
                            </div>
                            <div class="inputer">
                                <input type="text" name="name" placeholder="Name">
                            </div>
                            <div class="inputer">
                                <input type="email" name="email" placeholder="E-mail">
                            </div>
                            <div class="inputer">
                                <textarea name="text" placeholder="Message"></textarea>
                            </div>
                            <div class="submiter">
                                <button type="submit" class="butt">
                                    <span>Send Message</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
