<div class="contact-faq-wrap">
    <div class="mbox">
        <div class="contein">
            <div class="translate-title"> 
                <h2> FAQ </h2> 
            </div>
            <div class="content-title">
                <h3>Have a questions? Find here!</h3>
            </div>
            <div class="list-accordion">
                <div class="item">
                    <div class="title-part">
                        <div class="pluso"></div>
                        <div class="named"> My Windows 7 product key won't verify. What's the problem? </div>
                    </div>
                    <div class="hidden-part">
                        <div class="texter">
                            <p>The longer the current stage of the confrontation in the territories continues, the clearer it becomes that the No. 1 problem now facing the IDF is terrorism on the West Bank roads.</p>
                            <p>Shots fired at IDF positions and settlements are usually not effective and the attacks inside the Green Line have diminished to a large extent, partly because Hamas opted to heed Chairman Yasser Arafat's call for them to end.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="title-part">
                        <div class="pluso"></div>
                        <div class="named"> My Windows 7 product key won't verify. What's the problem? </div>
                    </div>
                    <div class="hidden-part">
                        <div class="texter">
                            <p>The longer the current stage of the confrontation in the territories continues, the clearer it becomes that the No. 1 problem now facing the IDF is terrorism on the West Bank roads.</p>
                            <p>Shots fired at IDF positions and settlements are usually not effective and the attacks inside the Green Line have diminished to a large extent, partly because Hamas opted to heed Chairman Yasser Arafat's call for them to end.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="title-part">
                        <div class="pluso"></div>
                        <div class="named"> My Windows 7 product key won't verify. What's the problem? </div>
                    </div>
                    <div class="hidden-part">
                        <div class="texter">
                            <p>The longer the current stage of the confrontation in the territories continues, the clearer it becomes that the No. 1 problem now facing the IDF is terrorism on the West Bank roads.</p>
                            <p>Shots fired at IDF positions and settlements are usually not effective and the attacks inside the Green Line have diminished to a large extent, partly because Hamas opted to heed Chairman Yasser Arafat's call for them to end.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="title-part">
                        <div class="pluso"></div>
                        <div class="named"> My Windows 7 product key won't verify. What's the problem? </div>
                    </div>
                    <div class="hidden-part">
                        <div class="texter">
                            <p>The longer the current stage of the confrontation in the territories continues, the clearer it becomes that the No. 1 problem now facing the IDF is terrorism on the West Bank roads.</p>
                            <p>Shots fired at IDF positions and settlements are usually not effective and the attacks inside the Green Line have diminished to a large extent, partly because Hamas opted to heed Chairman Yasser Arafat's call for them to end.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="load-more-row">
                <a href="#" class="butt-load">
                    <span>See more</span>
                </a>
            </div>
        </div>
    </div>
</div>