<header class="header-inside">
    <div class="mbox">
        <div class="logo-part">
            <a href="">
                <img src="images/logo-custom.png" alt="">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="#"> Main </a></li>
                <li>
                    <a href="#"> About </a>
                    <ul>
                        <li><a href="">Sub 1</a></li>
                        <li><a href="">Sub 2</a></li>
                        <li>
                            <a href="">Sub 3</a>
                            <ul>
                                <li><a href="#"> Sub 31 </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"> Projects </a></li>
                <li><a href="#"> Contacts </a></li>
            </ul>
        </nav>
        <div class="lang-dropper">
            <ul>
                <li><span> EN </span></li>
                <li><a href="#"> HB </a></li>
            </ul>
        </div>
    </div>
</header>