<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>

    <div id="call-popup">
        <form action="ajax.php" class="contact-form">
            <div class="contact-form-title">
                <h5>Lorem ipsum dolor.</h5>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Имя">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_tel" value="" required="required" placeholder="Ваш номер" class="tel-mask">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span>Отправить заявку</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div id="jumped-pop">
        <div class="contein">
            <div class="texter">
                <h2>Psss ... Guy, are you lost? <br/> We can help you!</h2>
            </div>
            <div class="buttons-list">
                <a href="#" class="butt-trans">
                    <span>No, Thanks</span>
                </a>
                <a href="#" class="butt-trans">
                    <span>Contact us</span>
                </a>
            </div>
        </div>
    </div>

</div>

<div class="coockies-pop">
    <div class="mbox">
        <div class="siders">
            <div class="texter">
                <p>
                    We use cookies to improve the performance of our portal. Continuing the work, you agree to their use.
                    <a href="#">Additional Information...</a>
                </p>
            </div>
            <div class="button-side">
                <a href="#" class="butt">
                    <span>I agree</span>
                </a>
            </div>
        </div>
    </div>
</div>