<div class="inside-list-wrap" style="background-image: url(images/inside-bg.jpg);">
    <div class="mbox">
        <div class="transformed-title">
            <h2>Project Managment</h2>
        </div>
        <div class="content-part">
            <div class="texter">
                <h2>PMO Services & Project Management Consulting</h2>
                <p>As a leader in project management consulting, PM Solutions is the niche provider clients seek out when they are looking to implement business-enhancing, agile PMO services that improve project and portfolio performance.</p>
            </div>
            <div class="list-typers">
                <ul>
                    <li>
                        <a href="#"> BI </a>
                    </li>
                    <li>
                        <a href="#">Training</a>
                    </li>
                    <li>
                        <a href="#">Project management</a>
                    </li>
                    <li>
                        <a href="#">Risk Management</a>
                    </li>
                    <li>
                        <a href="#">Monitor & control</a>
                    </li>
                    <li>
                        <a href="#">Agile</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>