<div class="solution-wrap">
    <div class="mbox">
        <div class="transformed-title">
            <h2>About us</h2>
        </div>
        <div class="title-row">
            <h2>Solutions to improve the efficiency of your business</h2>
        </div>
    </div>

    <div class="list-solutions">
        <div class="start-imager" style="background-image: url(images/hands.jpg); " ></div>
        <div class="mbox">            
            <div class="title-line">
                <div class="side-title">
                    <h3>The purpose of consulting is to help the management system achieve its stated goals.</h3>
                </div>
                <div class="navigation">
                    <div class="prev"></div>
                    <div class="next"></div>                
                </div>
            </div>
            <div class="slider-items" dir="ltr">
                <div class="item">
                    <div class="contein">
                        <div class="num"> 01 </div>
                        <div class="name">
                            <a href="">Consulting</a>
                        </div>
                        <div class="texter">
                            <p>Is a modern, technology company, the focus of which is consulting and implementing innovative solutions, taking into account the deep needs of customers.</p>
                        </div>
                        <div class="readmore-row">
                            <a href="#" class="readmore">
                                <span>Read more</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <div class="num"> 01 </div>
                        <div class="name">
                            <a href="">Consulting</a>
                        </div>
                        <div class="texter">
                            <p>Is a modern, technology company, the focus of which is consulting and implementing innovative solutions, taking into account the deep needs of customers.</p>
                        </div>
                        <div class="readmore-row">
                            <a href="#" class="readmore">
                                <span>Read more</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <div class="num"> 01 </div>
                        <div class="name">
                            <a href="">Consulting</a>
                        </div>
                        <div class="texter">
                            <p>Is a modern, technology company, the focus of which is consulting and implementing innovative solutions, taking into account the deep needs of customers.</p>
                        </div>
                        <div class="readmore-row">
                            <a href="#" class="readmore">
                                <span>Read more</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <div class="num"> 01 </div>
                        <div class="name">
                            <a href="">Consulting</a>
                        </div>
                        <div class="texter">
                            <p>Is a modern, technology company, the focus of which is consulting and implementing innovative solutions, taking into account the deep needs of customers.</p>
                        </div>
                        <div class="readmore-row">
                            <a href="#" class="readmore">
                                <span>Read more</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <div class="num"> 01 </div>
                        <div class="name">
                            <a href="">Consulting</a>
                        </div>
                        <div class="texter">
                            <p>Is a modern, technology company, the focus of which is consulting and implementing innovative solutions, taking into account the deep needs of customers.</p>
                        </div>
                        <div class="readmore-row">
                            <a href="#" class="readmore">
                                <span>Read more</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <div class="num"> 01 </div>
                        <div class="name">
                            <a href="">Consulting</a>
                        </div>
                        <div class="texter">
                            <p>Is a modern, technology company, the focus of which is consulting and implementing innovative solutions, taking into account the deep needs of customers.</p>
                        </div>
                        <div class="readmore-row">
                            <a href="#" class="readmore">
                                <span>Read more</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <div class="num"> 01 </div>
                        <div class="name">
                            <a href="">Consulting</a>
                        </div>
                        <div class="texter">
                            <p>Is a modern, technology company, the focus of which is consulting and implementing innovative solutions, taking into account the deep needs of customers.</p>
                        </div>
                        <div class="readmore-row">
                            <a href="#" class="readmore">
                                <span>Read more</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <div class="num"> 01 </div>
                        <div class="name">
                            <a href="">Consulting</a>
                        </div>
                        <div class="texter">
                            <p>Is a modern, technology company, the focus of which is consulting and implementing innovative solutions, taking into account the deep needs of customers.</p>
                        </div>
                        <div class="readmore-row">
                            <a href="#" class="readmore">
                                <span>Read more</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>