<div class="testimonials-wrap">
    <div class="mbox">
        <div class="translate-title"> 
            <h2> Testimonials </h2> 
        </div>
        <div class="top-row">
            <div class="title-row">
                <h3>What people say about us</h3>
            </div>
            <div class="subtext">
                <p>Many companies do not want to involve external consultants arguing that knows their business better than anyone else. </p>
            </div>
            <div class="navigation">
                <div class="prev"></div>
                <div class="next"></div>                
            </div>
        </div>
        <div class="bottom-slider">
            <div class="contein-slider">
                <div class="item">
                    <div class="contein-item">
                        <div class="top-row">
                            <div class="con">
                                <img src="images/t1.jpg"" alt="">
                            </div>
                            <div class="name"> Company name </div>
                        </div>
                        <div class="texter">
                            <p>“ It is a long established fact that a reader will be distracted by the readable content of a page when looking. “</p>
                        </div>
                        <div class="author">
                            <div class="con">
                                <img src="images/t1.jpg" alt="">
                            </div>
                            <div class="about">
                                <div class="name">Patrick Rios</div>
                                <div class="post">Director company</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein-item">
                        <div class="top-row">
                            <div class="con">
                                <img src="images/t1.jpg"" alt="">
                            </div>
                            <div class="name"> Company name </div>
                        </div>
                        <div class="texter">
                            <p>“ It is a long established fact that a reader will be distracted by the readable content of a page when looking. “</p>
                        </div>
                        <div class="author">
                            <div class="con">
                                <img src="images/t1.jpg" alt="">
                            </div>
                            <div class="about">
                                <div class="name">Patrick Rios</div>
                                <div class="post">Director company</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein-item">
                        <div class="top-row">
                            <div class="con">
                                <img src="images/t1.jpg"" alt="">
                            </div>
                            <div class="name"> Company name </div>
                        </div>
                        <div class="texter">
                            <p>“ It is a long established fact that a reader will be distracted by the readable content of a page when looking. “</p>
                        </div>
                        <div class="author">
                            <div class="con">
                                <img src="images/t1.jpg" alt="">
                            </div>
                            <div class="about">
                                <div class="name">Patrick Rios</div>
                                <div class="post">Director company</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein-item">
                        <div class="top-row">
                            <div class="con">
                                <img src="images/t1.jpg"" alt="">
                            </div>
                            <div class="name"> Company name </div>
                        </div>
                        <div class="texter">
                            <p>“ It is a long established fact that a reader will be distracted by the readable content of a page when looking. “</p>
                        </div>
                        <div class="author">
                            <div class="con">
                                <img src="images/t1.jpg" alt="">
                            </div>
                            <div class="about">
                                <div class="name">Patrick Rios</div>
                                <div class="post">Director company</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein-item">
                        <div class="top-row">
                            <div class="con">
                                <img src="images/t1.jpg"" alt="">
                            </div>
                            <div class="name"> Company name </div>
                        </div>
                        <div class="texter">
                            <p>“ It is a long established fact that a reader will be distracted by the readable content of a page when looking. “</p>
                        </div>
                        <div class="author">
                            <div class="con">
                                <img src="images/t1.jpg" alt="">
                            </div>
                            <div class="about">
                                <div class="name">Patrick Rios</div>
                                <div class="post">Director company</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein-item">
                        <div class="top-row">
                            <div class="con">
                                <img src="images/t1.jpg"" alt="">
                            </div>
                            <div class="name"> Company name </div>
                        </div>
                        <div class="texter">
                            <p>“ It is a long established fact that a reader will be distracted by the readable content of a page when looking. “</p>
                        </div>
                        <div class="author">
                            <div class="con">
                                <img src="images/t1.jpg" alt="">
                            </div>
                            <div class="about">
                                <div class="name">Patrick Rios</div>
                                <div class="post">Director company</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein-item">
                        <div class="top-row">
                            <div class="con">
                                <img src="images/t1.jpg"" alt="">
                            </div>
                            <div class="name"> Company name </div>
                        </div>
                        <div class="texter">
                            <p>“ It is a long established fact that a reader will be distracted by the readable content of a page when looking. “</p>
                        </div>
                        <div class="author">
                            <div class="con">
                                <img src="images/t1.jpg" alt="">
                            </div>
                            <div class="about">
                                <div class="name">Patrick Rios</div>
                                <div class="post">Director company</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein-item">
                        <div class="top-row">
                            <div class="con">
                                <img src="images/t1.jpg"" alt="">
                            </div>
                            <div class="name"> Company name </div>
                        </div>
                        <div class="texter">
                            <p>“ It is a long established fact that a reader will be distracted by the readable content of a page when looking. “</p>
                        </div>
                        <div class="author">
                            <div class="con">
                                <img src="images/t1.jpg" alt="">
                            </div>
                            <div class="about">
                                <div class="name">Patrick Rios</div>
                                <div class="post">Director company</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>