<div class="categories-wrap">
    <div class="mbox">
        <div class="list-items">
            <div class="item">
                <div class="hovered" style="background-image: url(images/category1.jpg);"></div>
                <div class="topper">
                    <svg>
                        <defs>
                            <pattern id="space1" patternUnits="userSpaceOnUse" width="369" height="520" >
                                <image xlink:href="images/category1.jpg" width="369" height="520" />
                            </pattern>
                        </defs>
                        <text y="80%" x="5%" style="fill: url(#space1);">C</text>
                    </svg>
                </div>
                <div class="bottom-texter">
                    <div class="name">
                        <a href="#">Consulting</a>
                    </div>
                    <div class="texter">
                        <p>Is a modern, technology company, the focus of which is consulting.</p>
                    </div>
                </div>
                <div class="readmore">
                    <a href="#" class="readmore-butt">
                        <span>Read More</span>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="hovered" style="background-image: url(http://subtlepatterns.com/patterns/purty_wood.png);"></div>
                <div class="topper">
                    <svg>
                        <defs>
                            <pattern id="wood" patternUnits="userSpaceOnUse" width="400" height="400" >
                                <image xlink:href="http://subtlepatterns.com/patterns/purty_wood.png" width="400" height="400" />
                            </pattern>
                        </defs>
                        <text y="80%" x="5%" style="fill: url(#wood);">P</text>
                    </svg>
                </div>
                <div class="bottom-texter">
                    <div class="name">
                        <a href="">Project Managment</a>
                    </div>
                    <div class="texter">
                        <p>Is a modern, technology company, the focus of which is consulting</p>
                    </div>
                </div>
                <div class="readmore">
                    <a href="#" class="readmore-butt">
                        <span>Read More</span>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="hovered" style="background-image: url(http://subtlepatterns.com/patterns/purty_wood.png);"></div>
                <div class="topper">
                    <svg>
                        <defs>
                            <pattern id="wood" patternUnits="userSpaceOnUse" width="400" height="400" >
                                <image xlink:href="http://subtlepatterns.com/patterns/purty_wood.png" width="400" height="400" />
                            </pattern>
                        </defs>
                        <text y="80%" x="5%" style="fill: url(#wood);">C</text>
                    </svg>
                </div>
                <div class="bottom-texter">
                    <div class="name">
                        <a href="">Consulting</a>
                    </div>
                    <div class="texter">
                        <p>Marketing Services</p>
                    </div>
                </div>
                <div class="readmore">
                    <a href="#" class="readmore-butt">
                        <span>Read More</span>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="hovered" style="background-image: url(http://subtlepatterns.com/patterns/purty_wood.png);"></div>
                <div class="topper">
                    <svg>
                        <defs>
                            <pattern id="wood" patternUnits="userSpaceOnUse" width="400" height="400" >
                                <image xlink:href="http://subtlepatterns.com/patterns/purty_wood.png" width="400" height="400" />
                            </pattern>
                        </defs>
                        <text y="80%" x="5%" style="fill: url(#wood);">C</text>
                    </svg>
                </div>
                <div class="bottom-texter">
                    <div class="name">
                        <a href="">Properties and Investment</a>
                    </div>
                    <div class="texter">
                        <p>Is a modern, technology company, the focus of which is consulting.</p>
                    </div>
                </div>
                <div class="readmore">
                    <a href="#" class="readmore-butt">
                        <span>Read More</span>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="hovered" style="background-image: url(images/category1.jpg);"></div>
                <div class="topper">
                    <svg>
                        <defs>
                            <pattern id="space1" patternUnits="userSpaceOnUse" width="369" height="520" >
                                <image xlink:href="images/category1.jpg" width="369" height="520" />
                            </pattern>
                        </defs>
                        <text y="80%" x="5%" style="fill: url(#space1);">O</text>
                    </svg>
                </div>
                <div class="bottom-texter">
                    <div class="name">
                        <a href="#">Oursourse</a>
                    </div>
                    <div class="texter">
                        <p>Is a modern, technology company, the focus of which is consulting.</p>
                    </div>
                </div>
                <div class="readmore">
                    <a href="#" class="readmore-butt">
                        <span>Read More</span>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="hovered" style="background-image: url(http://subtlepatterns.com/patterns/purty_wood.png);"></div>
                <div class="topper">
                    <svg>
                        <defs>
                            <pattern id="wood" patternUnits="userSpaceOnUse" width="400" height="400" >
                                <image xlink:href="http://subtlepatterns.com/patterns/purty_wood.png" width="400" height="400" />
                            </pattern>
                        </defs>
                        <text y="80%" x="5%" style="fill: url(#wood);">L</text>
                    </svg>
                </div>
                <div class="bottom-texter">
                    <div class="name">
                        <a href="">Logistic</a>
                    </div>
                    <div class="texter">
                        <p>Is a modern, technology company, the focus of which is consulting</p>
                    </div>
                </div>
                <div class="readmore">
                    <a href="#" class="readmore-butt">
                        <span>Read More</span>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="hovered" style="background-image: url(http://subtlepatterns.com/patterns/purty_wood.png);"></div>
                <div class="topper">
                    <svg>
                        <defs>
                            <pattern id="wood" patternUnits="userSpaceOnUse" width="400" height="400" >
                                <image xlink:href="http://subtlepatterns.com/patterns/purty_wood.png" width="400" height="400" />
                            </pattern>
                        </defs>
                        <text y="80%" x="5%" style="fill: url(#wood);">F</text>
                    </svg>
                </div>
                <div class="bottom-texter">
                    <div class="name">
                        <a href="">Finance</a>
                    </div>
                    <div class="texter">
                        <p>Marketing Services</p>
                    </div>
                </div>
                <div class="readmore">
                    <a href="#" class="readmore-butt">
                        <span>Read More</span>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="hovered" style="background-image: url(http://subtlepatterns.com/patterns/purty_wood.png);"></div>
                <div class="topper">
                    <svg>
                        <defs>
                            <pattern id="wood" patternUnits="userSpaceOnUse" width="400" height="400" >
                                <image xlink:href="http://subtlepatterns.com/patterns/purty_wood.png" width="400" height="400" />
                            </pattern>
                        </defs>
                        <text y="80%" x="5%" style="fill: url(#wood);">I</text>
                    </svg>
                </div>
                <div class="bottom-texter">
                    <div class="name">
                        <a href="">IT</a>
                    </div>
                    <div class="texter">
                        <p>Is a modern, technology company, the focus of which is consulting.</p>
                    </div>
                </div>
                <div class="readmore">
                    <a href="#" class="readmore-butt">
                        <span>Read More</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>