<div class="testimonials-wrap">
    <div class="mbox">
        <div class="translate-title"> 
            <h2> Testimonials </h2> 
        </div>
        <div class="top-row">
            <div class="title-row">
                <h3>What people say about us</h3>
            </div>
            <div class="subtext">
                <p>Many companies do not want to involve external consultants arguing that knows their business better than anyone else. </p>
            </div>
            <div class="navigation">
                <div class="prev"></div>
                <div class="next"></div>                
            </div>
        </div>
        <div class="bottom-slider">
            <div class="contein-slider">
                <div class="item">
                    <div class="contein-item">
                        <div class="top-row">
                            <img src="images/company1.png"" alt="">
                        </div>
                        <div class="texter">
                            <p>“I’ve tried using different softwares. The computer is not my strong side. There is excellent support behind mHelpDesk and people to walk you through it. If you have any questions they’ll go over that and explain to you how to do that. ”</p>
                        </div>
                        <div class="author">
                            <div class="name"> – Vladimir Milosevic </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein-item">
                        <div class="top-row">
                            <img src="images/company1.png"" alt="">
                        </div>
                        <div class="texter">
                            <p>“I’ve tried using different softwares. The computer is not my strong side. There is excellent support behind mHelpDesk and people to walk you through it. If you have any questions they’ll go over that and explain to you how to do that. ”</p>
                        </div>
                        <div class="author">
                            <div class="name"> – Vladimir Milosevic </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein-item">
                        <div class="top-row">
                            <img src="images/company1.png"" alt="">
                        </div>
                        <div class="texter">
                            <p>“I’ve tried using different softwares. The computer is not my strong side. There is excellent support behind mHelpDesk and people to walk you through it. If you have any questions they’ll go over that and explain to you how to do that. ”</p>
                        </div>
                        <div class="author">
                            <div class="name"> – Vladimir Milosevic </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein-item">
                        <div class="top-row">
                            <img src="images/company1.png"" alt="">
                        </div>
                        <div class="texter">
                            <p>“I’ve tried using different softwares. The computer is not my strong side. There is excellent support behind mHelpDesk and people to walk you through it. If you have any questions they’ll go over that and explain to you how to do that. ”</p>
                        </div>
                        <div class="author">
                            <div class="name"> – Vladimir Milosevic </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein-item">
                        <div class="top-row">
                            <img src="images/company1.png"" alt="">
                        </div>
                        <div class="texter">
                            <p>“I’ve tried using different softwares. The computer is not my strong side. There is excellent support behind mHelpDesk and people to walk you through it. If you have any questions they’ll go over that and explain to you how to do that. ”</p>
                        </div>
                        <div class="author">
                            <div class="name"> – Vladimir Milosevic </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein-item">
                        <div class="top-row">
                            <img src="images/company1.png"" alt="">
                        </div>
                        <div class="texter">
                            <p>“I’ve tried using different softwares. The computer is not my strong side. There is excellent support behind mHelpDesk and people to walk you through it. If you have any questions they’ll go over that and explain to you how to do that. ”</p>
                        </div>
                        <div class="author">
                            <div class="name"> – Vladimir Milosevic </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>