<div class="categories-wrap">
    <div class="mbox">
        <div class="list-items">
            <div class="item">
                <div class="hovered" style="background-image: url(http://subtlepatterns.com/patterns/purty_wood.png);"></div>
                <div class="topper">
                    <svg>
                        <defs>
                            <pattern id="wood" patternUnits="userSpaceOnUse" width="400" height="400" >
                                <image xlink:href="http://subtlepatterns.com/patterns/purty_wood.png" width="400" height="400" />
                            </pattern>
                        </defs>
                        <text style="fill: url(#wood);">C</text>
                    </svg>
                </div>
                <div class="bottom-texter">
                    <div class="name">
                        <a href="">Consulting</a>
                    </div>
                    <div class="texter">
                        <p>Is a modern, technology company, the focus of which is consulting.</p>
                    </div>
                </div>
                <div class="readmore">
                    <a href="#" class="readmore">
                        <span>Read More</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>