<div class="first-wrap" style="background-image: url(images/category1.jpg);">
    <!--
    <video autoplay muted loop>
        <source src="video/big-buck-bunny_trailer.webm" type="video/webm">
    </video>
    -->
    <div class="mbox cfix-b">
        <div class="side-slider">
            <div class="item">
                <div class="contein-slider">
                    <div class="ctext">
                        <h1> 1 Simply. Deliver. Results.</h1>
                        <p>Created a clever, high-end app which enables users to learn English words.</p>
                    </div>
                    <div class="after-butt">
                        <a href="#" class="butt">
                            <span>Contact us</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="contein-slider">
                    <div class="ctext">
                        <h2>2 Simply. Deliver. Results.</h2>
                        <p>Created a clever, high-end app which enables users to learn English words.</p>
                    </div>
                    <div class="after-butt">
                        <a href="#" class="butt">
                            <span>Contact us</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="contein-slider">
                    <div class="ctext">
                        <h2>3 Simply. Deliver. Results.</h2>
                        <p>Created a clever, high-end app which enables users to learn English words.</p>
                    </div>
                    <div class="after-butt">
                        <a href="#" class="butt">
                            <span>Contact us</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="contein-slider">
                    <div class="ctext">
                        <h2>4 Simply. Deliver. Results.</h2>
                        <p>Created a clever, high-end app which enables users to learn English words.</p>
                    </div>
                    <div class="after-butt">
                        <a href="#" class="butt">
                            <span>Contact us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>