<div class="pr-about-wrap">
    <div class="mbox">
        <div class="title-row">
            <h2>About Project</h2>
        </div>
        <div class="texter cfix">
            <div class="black-block">
                <div class="item">
                    <div class="title">Simply</div>
                    <div class="sub">
                        <p>Our customers are central to everything we do.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="title">Simply</div>
                    <div class="sub">
                        <p>Our customers are central to everything we do.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="title">Simply</div>
                    <div class="sub">
                        <p>Our customers are central to everything we do.</p>
                    </div>
                </div>                
            </div>

            <p>The longer the current stage of the confrontation in the territories continues, the clearer it becomes that the No. 1 problem now facing the IDF is terrorism on the West Bank roads.</p>
            <img src="images/texter-proj.jpg" alt="">
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nihil voluptas, sequi quasi corrupti quam ducimus possimus optio cupiditate similique maiores eaque, delectus deserunt laboriosam excepturi? Quaerat voluptate fugiat necessitatibus! </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nihil voluptas, sequi quasi corrupti quam ducimus possimus optio cupiditate similique maiores eaque, delectus deserunt laboriosam excepturi? Quaerat voluptate fugiat necessitatibus! </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nihil voluptas, sequi quasi corrupti quam ducimus possimus optio cupiditate similique maiores eaque, delectus deserunt laboriosam excepturi? Quaerat voluptate fugiat necessitatibus! </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nihil voluptas, sequi quasi corrupti quam ducimus possimus optio cupiditate similique maiores eaque, delectus deserunt laboriosam excepturi? Quaerat voluptate fugiat necessitatibus! </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nihil voluptas, sequi quasi corrupti quam ducimus possimus optio cupiditate similique maiores eaque, delectus deserunt laboriosam excepturi? Quaerat voluptate fugiat necessitatibus! </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nihil voluptas, sequi quasi corrupti quam ducimus possimus optio cupiditate similique maiores eaque, delectus deserunt laboriosam excepturi? Quaerat voluptate fugiat necessitatibus! </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nihil voluptas, sequi quasi corrupti quam ducimus possimus optio cupiditate similique maiores eaque, delectus deserunt laboriosam excepturi? Quaerat voluptate fugiat necessitatibus! </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nihil voluptas, sequi quasi corrupti quam ducimus possimus optio cupiditate similique maiores eaque, delectus deserunt laboriosam excepturi? Quaerat voluptate fugiat necessitatibus! </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nihil voluptas, sequi quasi corrupti quam ducimus possimus optio cupiditate similique maiores eaque, delectus deserunt laboriosam excepturi? Quaerat voluptate fugiat necessitatibus! </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nihil voluptas, sequi quasi corrupti quam ducimus possimus optio cupiditate similique maiores eaque, delectus deserunt laboriosam excepturi? Quaerat voluptate fugiat necessitatibus! </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nihil voluptas, sequi quasi corrupti quam ducimus possimus optio cupiditate similique maiores eaque, delectus deserunt laboriosam excepturi? Quaerat voluptate fugiat necessitatibus! </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nihil voluptas, sequi quasi corrupti quam ducimus possimus optio cupiditate similique maiores eaque, delectus deserunt laboriosam excepturi? Quaerat voluptate fugiat necessitatibus! </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nihil voluptas, sequi quasi corrupti quam ducimus possimus optio cupiditate similique maiores eaque, delectus deserunt laboriosam excepturi? Quaerat voluptate fugiat necessitatibus! </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nihil voluptas, sequi quasi corrupti quam ducimus possimus optio cupiditate similique maiores eaque, delectus deserunt laboriosam excepturi? Quaerat voluptate fugiat necessitatibus! </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nihil voluptas, sequi quasi corrupti quam ducimus possimus optio cupiditate similique maiores eaque, delectus deserunt laboriosam excepturi? Quaerat voluptate fugiat necessitatibus! </p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nihil voluptas, sequi quasi corrupti quam ducimus possimus optio cupiditate similique maiores eaque, delectus deserunt laboriosam excepturi? Quaerat voluptate fugiat necessitatibus! </p>
        </div>
    </div>
</div>