<div class="pr-counters-wrap" style="background-image: url(images/counters-bg.jpg);">
    <div class="mbox">
        <div class="texter-part">
            <h2>Some interisting facts </h2>
            <p>Adama (formerly MANA) is a leading manufacturer and distributor of crop protection solutions in the U.S.</p>
        </div>
        <div class="list-counters">
            <div class="item">
                <div class="cou" data-count='93'> 00 </div>
                <div class="des"> Something about </div>
            </div>
            <div class="item">
                <div class="cou" data-count='93'> 00 </div>
                <div class="des"> Something about </div>
            </div>
            <div class="item">
                <div class="cou" data-count='93'> 00 </div>
                <div class="des"> Something about </div>
            </div>
            <div class="item">
                <div class="cou" data-count='93'> 00 </div>
                <div class="des"> Something about </div>
            </div>
        </div>
    </div>
</div>