<div class="gallary-wrap">
    <div class="mbox">
        <div class="topper-title">
            <h2>Project Gallery</h2>
            <p>Shots fired at IDF positions and settlements are usually not effective and the attacks inside the Green Line have diminished to a large extent, partly because Hamas opted to heed Chairman Yasser Arafat's call for them to end.</p>
        </div>
        <div class="sliding-gal">
            <a href="images/gal-1.jpg" data-fancybox="images" data-caption="Project Gallery" class="item">
                <span class="con">
                    <img src="images/gal-1.jpg" alt="">
                </span>
            </a>
            <a href="images/gal-1.jpg" data-fancybox="images" data-caption="Project Gallery" class="item">
                <span class="con">
                    <img src="images/gal-1.jpg" alt="">
                </span>
            </a>
            <a href="images/gal-1.jpg" data-fancybox="images" data-caption="Project Gallery" class="item">
                <span class="con">
                    <img src="images/gal-1.jpg" alt="">
                </span>
            </a>
            <a href="images/gal-1.jpg" data-fancybox="images" data-caption="Project Gallery" class="item">
                <span class="con">
                    <img src="images/gal-1.jpg" alt="">
                </span>
            </a>
        </div>
        <div class="arrows">
            <div class="next"></div>
            <div class="prev"></div>
        </div>
    </div>
</div>