<div class="related-proj-wrap">
    <div class="mbox">
        <div class="title-row">
            <h2>Related Projects</h2>
        </div>
        <div class="list-proj">
            <div class="item">
                <a href="#" class="con">
                    <img src="images/item-image.jpg" alt="">
                </a>
                <div class="content-part">
                    <div class="labled">
                        <div class="label">building</div>
                    </div>
                    <div class="name">
                        <a href="#">Israel: Completion of Highway No.31</a>
                    </div>
                    <div class="des">
                        <p>On Friday morning, November 24, it will fully open for traffic on Highway 31. It is a route connecting the southern part of the Dead Sea coast with the center of the country through Arad.</p>
                    </div>
                    <div class="sider-sup">
                        <div class="date">
                            November 24 , 2018
                        </div>
                        <div class="readmore">
                            <a href="#">
                                <svg width="27" height="16" viewBox="0 0 27 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M26.5493 8.70711C26.9399 8.31658 26.9399 7.68342 26.5493 7.29289L20.1854 0.928932C19.7949 0.538408 19.1617 0.538408 18.7712 0.928932C18.3806 1.31946 18.3806 1.95262 18.7712 2.34315L24.428 8L18.7712 13.6569C18.3806 14.0474 18.3806 14.6805 18.7712 15.0711C19.1617 15.4616 19.7949 15.4616 20.1854 15.0711L26.5493 8.70711ZM0.679199 9H25.8422V7H0.679199V9Z" fill="#3BB6D5"/>
                                </svg>                                    
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="#" class="con">
                    <img src="images/item-image.jpg" alt="">
                </a>
                <div class="content-part">
                    <div class="labled">
                        <div class="label">building</div>
                    </div>
                    <div class="name">
                        <a href="#">Israel: Completion of Highway No.31</a>
                    </div>
                    <div class="des">
                        <p>On Friday morning, November 24, it will fully open for traffic on Highway 31. It is a route connecting the southern part of the Dead Sea coast with the center of the country through Arad.</p>
                    </div>
                    <div class="sider-sup">
                        <div class="date">
                            November 24 , 2018
                        </div>
                        <div class="readmore">
                            <a href="#">
                                <svg width="27" height="16" viewBox="0 0 27 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M26.5493 8.70711C26.9399 8.31658 26.9399 7.68342 26.5493 7.29289L20.1854 0.928932C19.7949 0.538408 19.1617 0.538408 18.7712 0.928932C18.3806 1.31946 18.3806 1.95262 18.7712 2.34315L24.428 8L18.7712 13.6569C18.3806 14.0474 18.3806 14.6805 18.7712 15.0711C19.1617 15.4616 19.7949 15.4616 20.1854 15.0711L26.5493 8.70711ZM0.679199 9H25.8422V7H0.679199V9Z" fill="#3BB6D5"/>
                                </svg>                                    
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="#" class="con">
                    <img src="images/item-image.jpg" alt="">
                </a>
                <div class="content-part">
                    <div class="labled">
                        <div class="label">building</div>
                    </div>
                    <div class="name">
                        <a href="#">Israel: Completion of Highway No.31</a>
                    </div>
                    <div class="des">
                        <p>On Friday morning, November 24, it will fully open for traffic on Highway 31. It is a route connecting the southern part of the Dead Sea coast with the center of the country through Arad.</p>
                    </div>
                    <div class="sider-sup">
                        <div class="date">
                            November 24 , 2018
                        </div>
                        <div class="readmore">
                            <a href="#">
                                <svg width="27" height="16" viewBox="0 0 27 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M26.5493 8.70711C26.9399 8.31658 26.9399 7.68342 26.5493 7.29289L20.1854 0.928932C19.7949 0.538408 19.1617 0.538408 18.7712 0.928932C18.3806 1.31946 18.3806 1.95262 18.7712 2.34315L24.428 8L18.7712 13.6569C18.3806 14.0474 18.3806 14.6805 18.7712 15.0711C19.1617 15.4616 19.7949 15.4616 20.1854 15.0711L26.5493 8.70711ZM0.679199 9H25.8422V7H0.679199V9Z" fill="#3BB6D5"/>
                                </svg>                                    
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>