<div class="pr-single-first" style="background-image: url(images/project-firtst.jpg);">
    <div class="mbox">
        <div class="transformed-title">
            <h2>Beautiful Sulitions</h2>
        </div>
        <div class="center-text">
            <div class="texter">
                <h1> Project Name <br /> The Battle for the Roads </h1>
                <p>Old cogs used long time ago on cableways Sugarloaf Mountain.</p>
            </div>
        </div>
        <div class="breadcrumbs">
            <ul>
                <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to PROLOG." href="http://www.anvi.team" class="home"><span property="name">PROLOG</span></a><meta property="position" content="1"></span></li>
                <li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span property="name">Our Projects</span><meta property="position" content="2"></span></li>
            </ul>
        </div>
    </div>
</div>