<div class="tehnology-wrap">
    <div class="mbox">
        <div class="siders">
            <div class="blue-box">
                <div class="con">
                    <img src="images/teh-cover1.jpg" alt="">
                </div>
            </div>
            <div class="texter-part">
                <div class="title-row">
                    <h2>A unique new tool for weed management in sugarcane</h2>
                    <p>Adama (formerly MANA) is a leading manufacturer and distributor of crop protection solutions in the U.S.</p>
                </div>
                <div class="list-items">
                    <div class="item">
                        <div class="con">
                            <img src="images/teh1.png" alt="">
                        </div>
                        <div class="name"> New Techologies </div>
                        <div class="text">
                            <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="con">
                            <img src="images/teh2.png" alt="">
                        </div>
                        <div class="name"> New Techologies </div>
                        <div class="text">
                            <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="con">
                            <img src="images/teh3.png" alt="">
                        </div>
                        <div class="name"> New Techologies </div>
                        <div class="text">
                            <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="con">
                            <img src="images/teh4.png" alt="">
                        </div>
                        <div class="name"> New Techologies </div>
                        <div class="text">
                            <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</div>